.toost-container {
    position: fixed;
    z-index: 1055;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
    width: 100%;
    max-width: 24rem;
    perspective: 800px;
}

.toost-container-top-right {
    top: 0;
    right: 0;
}

.toost-container-top-left {
    top: 0;
    left: 0;
}

.toost-container-bottom-right {
    bottom: 0;
    right: 0;
}

.toost-container-bottom-left {
    bottom: 0;
    left: 0;
}

.toost-container-top-center {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.toost-container-bottom-center {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.toost-container-top-center {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.toost-container-bottom-center {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}