.toost {
    --scale: calc(1 - var(--index) * 0.05);
    --offset: calc(var(--index) * 1rem);
    --opacity: calc(1 - var(--index) * 0.1);

    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem;
    width: 100%;
    max-width: 22rem;
    border-radius: 0.5rem;
    background-color: hsl(0 0% 100%);
    border: 1px solid hsl(0 0% 91%);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    overflow: hidden;
    transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    transform: translateY(var(--offset)) scale(var(--scale));
    opacity: var(--opacity, 1);
    animation: slide-in 0.5s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

@keyframes slide-in {
    from { transform: translateY(100%); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}



.toost-content {
    flex-grow: 1;
}

.toost-title {
    margin: 0;
    font-weight: 500;
    font-size: 0.875rem;
    color: hsl(0 0% 9%);
}

.toost-message {
    margin: 0;
    font-size: 0.875rem;
    color: hsl(0 0% 39%);
}


.toost-close {
    margin-left: auto;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    background-color: transparent;
    border: 1px solid hsl(0 0% 80%);
    color: hsl(0 0% 45%);
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
}

.toost-close:hover {
    background-color: hsl(0 0% 90%);
    color: hsl(0 0% 9%);
}

.toost-close-svg {
    width: 1rem;
    height: 1rem;
}

.toost-timer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-circle {
    transform: rotate(-90deg);
    transform-origin: center;
    animation: progress-circle linear forwards;
}

@keyframes progress-circle {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 50.2654824574;
    }
}